services:
  db-postgres:
    image: postgres:15-alpine
    container_name: db-postgres
    restart: always
    environment:
      POSTGRES_USER: admin_pg
      POSTGRES_PASSWORD: senha_forte_pg
      POSTGRES_DB: minha_api_db_pg
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: meu_backend_api
    restart: always
    ports:
      - "8080:8080"
    environment:
      DATABASE_URL: "postgresql://admin_pg:senha_forte_pg@db-postgres:5432/minha_api_db_pg"
    depends_on:
      - db-postgres

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: meu_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@email.com
      PGADMIN_DEFAULT_PASSWORD: senha_forte_pgadmin
    ports:
      - "5050:80"
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    depends_on:
      - db-postgres
    
  frontend:
    build: ./react-frontend
    container_name: meu_frontend_react
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  postgres-data:
  pgadmin-data: